* {

}

@font-face {
    font-family: HelveticaLTStd-Cond;
    src: url(../fonts/HelveticaLTStd-Cond.otf);
}

@font-face {
    font-family: MyriadPro-Cond_3;
    src: url(../fonts/MyriadPro-Cond.otf);
}

@font-face {
    font-family: MyriadPro-BoldCond_1;
    src: url(../fonts/MyriadPro-BoldCond.otf);
}

@font-face {
    font-family: MyriadPro-Regular_2;
    src: url(../fonts/MyriadPro-Regular.otf);
}

@font-face {
    font-family: pt-zerif_4;
    src: url(../fonts/pt-zerif/PTZ55F.ttf);
}

html, body, main {
    width: 100%;
    height: 100%;
    color: white;
    margin: 0;
    padding: 0;
    font-family: MyriadPro-Cond_3;
}

main {
    position: relative;
}

a, a:hover, a:focus, a:visited, a:active {
    text-decoration: none;
    color: black;
}

.container {
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
}

.animated-content,
.animated-content > .content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.col-30p, .col-70p {
    float: left;
}

.col-30p {
    width: 30%;
}

.col-70p {
    width: 70%;
}

/* LOADING */

.loading-screen {
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
}

.loading-cover {
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;

    -webkit-transition: width 1.5s ease-out;
    -moz-transition: width 1.5s ease-out;
    -ms-transition: width 1.5s ease-out;
    -o-transition: width 1.5s ease-out;
    transition: width 1.5s ease-out;

    width: 0;
    height: 100%;
}

.loading-percents {
    color: lightgray;
    position: absolute;
    bottom: 50px;
    right: 50px;
    font-size: 27px;
}

/* INDEX PAGE */

.index-navigation {
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.index-navigation ul {
    text-align: center;
    margin-top: 5%;
    margin-left: 0;
    padding-left: 0;
}

.index-navigation li {
    display: inline-block;
    font-size: 2.5em;
    width: 20%;
    text-align: left;
    margin-left: 10px;
    position: relative;
}

.index-navigation a {
    position: relative;
    /*line-height: 1em;*/
}

.curtain {
    overflow: hidden;
    width: 100%;
    height: 0;
}

.underline {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    height: 5px;
    width: 0;
    background-color: black;
}

.animated-bar {
    height: 70%;
    width: 0;
    background: black;
}

.video-container,
.index-logo-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-container {
    background-color: black;
    opacity: 0;
}

.index-logo {
    background: url(../img/logo.png);
    display: inline-block;
    width: 876px;
    height: 186px;
    opacity: 0;
}

.video-container video {
    height: 100%;
    margin: 0 auto;
}

.index-loading-message {
    position: absolute;
    left: 10%;
    bottom: 20%;
    overflow: hidden;
    width: 0%;
}

.index-loading-message h1 {
    color: white;
    width: 100%;
    word-wrap: normal;
    width: 20em;
}


/* MOVIE PROJECT PAGE */

.fixed-menu-row {
    margin-top: 50px;
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
}

.home-button {
    position: absolute;
    right: 80px;
    font-family: MyriadPro-Regular_2;
    font-size: 18px;
    color: #F7F5F5;

    -webkit-transition: margin-right 0.5s;
    -moz-transition: margin-right 0.5s;
    -ms-transition: margin-right 0.5s;
    -o-transition: margin-right 0.5s;
    transition: margin-right 0.5s;
}

.home-button:hover {
    color: #F7F5F5;
    margin-right: 15px;
}

.home-button:visited {
    color: #F7F5F5;
}

.home-button:before,
.home-button:after {
    background-color: #F7F5F5;
    content: "";
    opacity: 0.7;
    height: 1px;
    left: 100%;
    margin-left: 10px;
    position: absolute;
    top: 9px;
    width: 55px;

    -webkit-transition: margin 0.5s, width 0.5s;
    -moz-transition: margin 0.5s, width 0.5s;
    -ms-transition: margin 0.5s, width 0.5s;
    -o-transition: margin 0.5s, width 0.5s;
    transition: margin 0.5s, width 0.5s;
}

.home-button:before {
    width: 0;
    margin-left: 65px;
}

.home-button:hover:before {
    width: 70px;
    margin-left: 10px;
}

.home-button:hover:after {
    position: absolute;
    margin-left: -70px;
    left: 100%;
    width: 0;
}

/* PROJECT section: header */


.movie-navigation,
.project-title-section {
    width: 100%;
    height: 100%;
}

.movie-navigation td {
    vertical-align: middle;
}

.movie-navigation .cell-movies-nav {
    text-align: right;
    width: 100%;
}

.project-main-image {
    height: 70%;
    overflow: hidden;
    position: relative;
}

.project-main-image .current-image,
.project-main-image .next-image {
    -webkit-background-size: cover;
    background-size: cover;

    position: absolute;
    height: 100%;
    width: 100%;
}

.movie-curtain {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: white;
}

#cover1 {
    z-index: 2;
}

#cover2 {
    z-index: 3;
}

.left {
    left: 0 !important;
    right: auto !important;
}

.right {
    right: 0 !important;
    left: auto !important;
}

.movie-curtain.left {
    width: 0;
    z-index: 99;
    right: auto;
    left: 0;
}

.movie-curtain.right {
    width: 0;
    z-index: 99;
    right: 0;
    left: auto;
}

.default-side-padding {
    padding: 0 9%;
}

#IndexPage {
    overflow: hidden;
}

#IndexPage,
#MoviePage {
    position: absolute;
    left: 0;
    top: 0;
}

#MoviePage,
#MoviePage th,
#MoviePage td {
    color: #3C3B3A;
}

.movie-title-section {
    background-color: rgba(255,255,255,0);
    height: 30%;
    position: relative;
}

.project-title-section h1 {
    font-family: MyriadPro-Cond_3;
    font-size: 50px;
    margin: 0;
    font-weight: normal;
    border-bottom: solid;
    white-space: nowrap;
    overflow: hidden;
}

.project-title-section .project-year {
    font-size: 24px;
}

a.arrow {
    text-decoration: none;
    font-size: 2em;
}

a.arrow,
a.arrow:hover,
a.arrow:visited,
a.arrow:link {
    color: black;
}

a.arrow:hover {
    color: gray;
}

.movies-nav {
    margin-left: auto;
}

/* PROJECT section: small description */
.project-sm-dsc {
    height: 100%;
    background: url(../img/movies/bg-black_white.png);
    background-repeat: repeat-x;
    background-size: cover;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    background-size: 100% 100%;
}

.project-stats {
    margin-top: 30px;
    font-size: 1.5em;
}

.project-stats th {
    font-weight: normal;
    padding-bottom: 10px;
    text-align: left;
}

.project-demo-video {
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project-demo-video iframe {
    width: 100%;
}

.preview-frame {
    background: black;
}

.btn-mehr-container {
    margin-top: 50px;
}

.btn-mehr {
    background-color: #080808;
    border: 1px solid #424242;
    color: #545454;
    font-size: 21px;
    padding: 15px 24px;
    margin-right: 12px;
}

.btn-mehr:last-child {
    margin-right: 0;
}

.btn-mehr:hover {
    border-color: #828282;
    color: #A5A5A5;
    cursor: pointer;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

/* */

.project-dsc {
    background-color: white;
    overflow: auto;
    font-size: 1.5em;
    font-weight: normal;
}

.project-dsc h2 {
    font-size: 24px;
    font-weight: normal;
}

.project-dsc h1 {
    font-size: 30px;
    font-weight: inherit;
}

.description-container {
    overflow: auto;
    border-bottom: solid 1px rgba(0,0,0,0.3);
    border-top: solid 1px rgba(0,0,0,0.3);
    margin: 3% 0 3% 0;
    padding-top: 3%;
    padding-bottom: 12%;
}

.project-desctription-text {
    font-family: MyriadPro-Regular_2;
    line-height: 2em;
    font-size: 24px;
}

/* more info */

.more-info {
    margin-bottom: 90px;
    position: relative;
}

.movie-comments {
    border: medium none;
    border-collapse: collapse;
    margin-bottom: 250px;
}

.movie-comments tr,
.movie-comments td {
    padding: 0;
}

.info-block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: flex-end;
    margin-bottom: 25px;
}

td.info-text {
    font-size: 1.5em;
    padding-right: 160px;
    padding-bottom: 50px;
    vertical-align: bottom;
    width: 30%;
}
.info-text p {
    padding-right: 20%;
}

.info-img {
    width: 70%;
}

.info-img img {
    width: 100%;
}

.movie_page-back-to-top {
    position: absolute;
    right: 9%;
    bottom: 0;
}

.movie_page-back-to-top span {
    color: #B2B2B2;
    display: block;
    font-size: 16px;
    font-family: MyriadPro-Regular_2;
    margin-bottom: 45px;
    position: relative;
    z-index: 20;
}

.movie_page-back-to-top:before {
    content: " ";
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    background-color: #F5F2F2;
    top: -23px;
    left: 15px;
    z-index: 10;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.movie_page-back-to-top:hover:before {
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}

/* FOOTER */

.project-footer {
    background-color: #F5F2F2;
    min-height: 20%;
}

.project-footer table {
    width: 100%;
}

.project-footer td {
    vertical-align: top;
}

.footer_info_cell {
    width: 30%;
    padding-right: 160px;
}

.footer-info {
    background-color: #333333;
    padding: 20px 30px;
    position: relative;
    top: -50px;
}

.footer-info h4 {
    color: white;
    font-size: 24px;
    margin: 0;
    margin-bottom: 5px;
}

.footer-info p {
    color: #929291;
    font-size: 24px;
    margin: 0;
    margin-bottom: 30px;
}

.footer-info span {
    font-family: MyriadPro-Cond_3;
    font-size: 18px;
    color: white;
}

.footer_mail_cell {
    width: 70%;
}

.footer_mail_cell h1 {
    color: #3C3C3B;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 70px;
    margin-left: 250px;
}

.footer_mail_cell label {
    display: block;
    font-size: 24px;
}

.footer_mail_cell input[type="text"],
.footer_mail_cell textarea {
    background: none;
    border: none;
    border-bottom: 1px solid #E2DFDF;
    display: block;
    width: 100%;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.footer_mail_cell input[type="submit"] {
    background: none;
    border: none;
    border-bottom: 1px solid #C9C7C7;
    color: #3C3C3B;
    font-family: MyriadPro-Cond_3;
    font-size: 30px;
    font-weight: bold;

    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    -ms-transition: color 0.4s;
    -o-transition: color 0.4s;
    transition: color 0.4s;
}

.footer_mail_cell input[type="submit"]:hover {
    color: #FF6900;
    cursor: pointer;
}


/* NEW INDEX */

a,
a:hover,
a:visited,
a:active {
    color: #3c3c3b;
    text-decoration: none;
}

.title-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

.title-project-dsc {
    position: absolute;
    left: 0;
    top: 0;
}

/* navigation */

.title-navigation {
    text-align: center;
    font-size: 24px;
    vertical-align: top;
    padding-top: 35px;
}

.title-navigation ul {
    padding: 0;
}

.title-navigation li {
    display: inline;
}

.title-navigation li:not(:last-child):after {
    content: " // ";
    color: #3c3c3b;
}

.title-project-dsc {
    width: 770px;
    height: 100%;
    left: 120px;
}

.title-content {
    height: 100%;
    vertical-align: bottom;
    padding-bottom: 5em;
    padding-left: 100px;
}

/* INDEX PAGE: TitleColoredTable */

#TableBackgroundColor,
#TableForegroundColor {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#TableBackgroundColor {  z-index: 1; }
#TableForegroundColor {  z-index: 2; }
.title-project-dsc table {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

/* movie title */

.bracket-text-box {
    display: inline-block;
}

.in-bracket-text {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
}

.title-page-name {
    position: relative;
    top: -100px;
    left: -100px;
    color: #3c3c3b;
    font-weight: bold;
    font-size: 21.9pt;
}

.img-next-arrow {
    cursor: pointer;
    vertical-align: middle;
    margin-left: 10px;
}

.title-header {
    position: absolute;
    left: 320px;
    bottom: 50%;
    z-index: 10;
    cursor: pointer;
}

.title-play-button {
    position: relative;
    bottom: -15px;
    left: 10px;
}

.movie-title,
.movie-genre {
    font-family: pt-zerif_4;
}

.movie-title {font-size: 100px;}

.movie-genre {font-size: 50px;}

.movie-title:after {
    content: " ";
}

.movie-short-description {
    font-size: 18px;
    width: 50%;
    color: #3c3c3b;
    cursor: pointer;
}

/* footer */
.title-footer {
    font-size: 16px;
    color: #3c3c3b;
    text-align: center;
    vertical-align: bottom;
    padding-bottom: 35px;
}

/* images */
.background-image {
    height: 100%;
    width: auto;
    position: absolute;
}

.scroll-message {
    position: absolute;
    bottom: 25%;
    right: 25%;
    font-size: 18px;
}

.scroll-message img {
    vertical-align: middle;
    margin-right: 10px;
}

/* ImageRotator */

.image-rotator {
    position: absolute;
    width: 100%;
    height: 100%;
    white-space: nowrap;
}
/*
.img-back {
    right: 80%;
    left: auto;
}

.img-front {
    left: 870px;
    right: auto;
}

.img-next {
    left: 100%;
    right: auto;
}

.img-last {
    right: 180%;
    left: auto;
}*/
