* {

}

@font-face {
    font-family: HelveticaLTStd-Cond;
    src: url(../fonts/HelveticaLTStd-Cond.otf);
}

@font-face {
    font-family: MyriadPro-Cond_3;
    src: url(../fonts/MyriadPro-Cond.otf);
}

@font-face {
    font-family: MyriadPro-BoldCond_1;
    src: url(../fonts/MyriadPro-BoldCond.otf);
}

@font-face {
    font-family: MyriadPro-Regular_2;
    src: url(../fonts/MyriadPro-Regular.otf);
}

@font-face {
    font-family: pt-zerif_4;
    src: url(../fonts/pt-zerif/PTZ55F.ttf);
}

html, body, main, #App {
    width: 100%;
    height: 100%;
    color: white;
    margin: 0;
    padding: 0;
    font-family: MyriadPro-Cond_3;
}

main {
    position: absolute;
}

a, a:hover, a:focus, a:visited, a:active {
    text-decoration: none;
    color: black;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.container {
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
}

.col-30p, .col-70p {
    float: left;
}

.col-30p {
    width: 30%;
}

.col-70p {
    width: 70%;
}

/* LOADING */

.loading-screen {
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
}

.loading-cover {
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;

    -webkit-transition: width 1.5s ease-out;
    -moz-transition: width 1.5s ease-out;
    -ms-transition: width 1.5s ease-out;
    -o-transition: width 1.5s ease-out;
    transition: width 1.5s ease-out;

    width: 0;
    height: 100%;
}

.loading-percents {
    color: lightgray;
    position: absolute;
    bottom: 50px;
    right: 50px;
    font-size: 27px;
}

/* INDEX PAGE */

.index-navigation {
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.index-navigation ul {
    text-align: center;
    margin-top: 5%;
    margin-left: 0;
    padding-left: 0;
}

.index-navigation li {
    display: inline-block;
    font-size: 2.5em;
    width: 20%;
    text-align: left;
    margin-left: 10px;
    position: relative;
}

.index-navigation a {
    position: relative;
    /*line-height: 1em;*/
}

.curtain {
    overflow: hidden;
    width: 100%;
    height: 0;
}

.underline {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    height: 5px;
    width: 0;
    background-color: black;
}

.animated-bar {
    height: 70%;
    width: 0;
    background: black;
}

.index-logo {
    background: url(../img/logo.png);
    display: inline-block;
    width: 876px;
    height: 186px;
    opacity: 0;
}

.index-loading-message {
    position: absolute;
    left: 10%;
    bottom: 20%;
    overflow: hidden;
    width: 0%;
}

.index-loading-message h1 {
    color: white;
    width: 100%;
    word-wrap: normal;
    width: 20em;
}


/* MOVIE PROJECT PAGE */

.fixed-menu-row {
    margin-top: 50px;
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
}

.home-button {
    position: absolute;
    display: block;
    width: 120px;
    right: 0;
    font-family: MyriadPro-Regular_2;
    font-size: 18px;
    color: #F7F5F5;

    -webkit-transition: margin-right 0.5s, color 0.5s;
    -moz-transition: margin-right 0.5s, color 0.5s;
    -ms-transition: margin-right 0.5s, color 0.5s;
    -o-transition: margin-right 0.5s, color 0.5s;
    transition: margin-right 0.5s, color 0.5s;
}

.home-button:hover {
    color: #F7F5F5;
    margin-right: 10px;
}

.home-button:visited,
.home-button:focus {
    color: #F7F5F5;
}

.home-button:before,
.home-button:after {
    background-color: #F7F5F5;
    content: "";
    opacity: 0.7;
    height: 1px;
    position: absolute;
    top: 9px;
    right: 0;
    width: 55px;

    -webkit-transition: right 0.5s, width 0.5s, background-color 0.5s;
    -moz-transition: right 0.5s, width 0.5s, background-color 0.5s;
    -ms-transition: right 0.5s, width 0.5s, background-color 0.5s;
    -o-transition: right 0.5s, width 0.5s, background-color 0.5s;
    transition: right 0.5s, width 0.5s, background-color 0.5s;
}

.home-button:before {
    width: 0;
}

.home-button:hover:before {
    width: 70px;
    right: -10px;
}

.home-button:hover:after {
    position: absolute;
    right: 120%;
    width: 0;
}

.home-button.darker {
    color: black;
}

.home-button.darker:before,
.home-button.darker:after {
    background-color: black;
}

/* PROJECT section: header */


.movie-navigation,
.project-title-section {
    width: 100%;
    height: 100%;
}

.movie-navigation td {
    vertical-align: middle;
}

.movie-navigation .cell-movies-nav {
    text-align: right;
    width: 100%;
}

.project-main-image {
    height: 70%;
    overflow: hidden;
    position: relative;
}

.project-main-image .current-image,
.project-main-image .next-image {
    -webkit-background-size: cover;
    background-size: cover;

    position: absolute;
    height: 100%;
    width: 100%;
}

.movie-curtain {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: white;
}

#cover1 {
    z-index: 2;
}

#cover2 {
    z-index: 3;
}

.left {
    left: 0 !important;
    right: auto !important;
}

.right {
    right: 0 !important;
    left: auto !important;
}

.movie-curtain.left {
    width: 0;
    z-index: 99;
    right: auto;
    left: 0;
}

.movie-curtain.right {
    width: 0;
    z-index: 99;
    right: 0;
    left: auto;
}

.default-side-padding {
    padding: 0 9%;
}

#IndexPage {
    overflow: hidden;
}

#IndexPage,
#MoviePage {
    position: absolute;
    left: 0;
    top: 0;
}

#MoviePage,
#MoviePage th,
#MoviePage td {
    color: #3C3B3A;
}

.movie-title-section {
    background-color: rgba(255,255,255,0);
    height: 30%;
    position: relative;
}

.project-title-section h1 {
    font-family: MyriadPro-Cond_3;
    font-size: 50px;
    margin: 0;
    font-weight: normal;
    border-bottom: solid;
    white-space: nowrap;
    overflow: hidden;
}

.project-title-section .project-year {
    font-size: 24px;
}

a.arrow {
    text-decoration: none;
    font-size: 2em;
}

a.arrow,
a.arrow:hover,
a.arrow:visited,
a.arrow:link {
    color: black;
}

a.arrow:hover {
    color: gray;
}

.movies-nav {
    margin-left: auto;
}

/* PROJECT section: small description */
.project-sm-dsc {
    height: 100%;
    background: url(../img/movies/bg-black_white.png);
    background-repeat: repeat-x;
    background-size: 100% 100%;
}

.project-stats {
    margin-top: 30px;
    font-size: 1.5em;
}

.project-stats th {
    font-weight: normal;
    padding-bottom: 10px;
    text-align: left;
}

.project-demo-video {
    height: 100%;
    text-align: center;
}

.project-demo-video iframe {
    width: 100%;
    margin-top: 15%;
}

.preview-frame {
    background: black;
}

.btn-mehr-container {
    margin-top: 50px;
}

.btn-mehr {
    background-color: #080808;
    border: 1px solid #424242;
    color: #545454;
    font-size: 21px;
    padding: 15px 24px;
    margin-right: 12px;
}

.btn-mehr:visited,
.btn-mehr:active,
.btn-mehr:focus {
    color: #545454;
}

.btn-mehr:last-child {
    margin-right: 0;
}

.btn-mehr:hover {
    border-color: #828282;
    color: #A5A5A5;
    cursor: pointer;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

/* */

.project-dsc {
    background-color: white;
    overflow: auto;
    font-size: 1.5em;
    font-weight: normal;
}

.project-dsc h2 {
    font-size: 24px;
    font-weight: normal;
}

.project-dsc h1 {
    font-size: 30px;
    font-weight: inherit;
}

.description-container {
    overflow: auto;
    border-bottom: solid 1px rgba(0,0,0,0.3);
    border-top: solid 1px rgba(0,0,0,0.3);
    margin: 3% 0 3% 0;
    padding-top: 3%;
    padding-bottom: 12%;
}

.project-desctription-text {
    font-family: MyriadPro-Regular_2;
    line-height: 2em;
    font-size: 24px;
}

/* more info */

.more-info {
    margin-bottom: 90px;
    position: relative;
}

.movie-comments {
    border: medium none;
    border-collapse: collapse;
    margin-bottom: 250px;
}

.movie-comments tr,
.movie-comments td {
    padding: 0;
}

.info-block {
    border-bottom: white 25px solid;
}

td.info-text {
    font-size: 1.5em;
    padding-right: 160px;
    padding-bottom: 50px;
    vertical-align: bottom;
    width: 30%;
}
.info-text p {
    padding-right: 20%;
}

.info-img {
    width: 70%;
}

.info-img img {
    width: 100%;
}

.movie_page-back-to-top {
    position: absolute;
    right: 9%;
    bottom: 0;
}

.movie_page-back-to-top span {
    color: #B2B2B2;
    display: block;
    font-size: 16px;
    font-family: MyriadPro-Regular_2;
    margin-bottom: 45px;
    position: relative;
    z-index: 20;
}

.movie_page-back-to-top:before {
    content: " ";
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    background-color: #F5F2F2;
    top: -23px;
    left: 15px;
    z-index: 10;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.movie_page-back-to-top:hover:before {
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}

/* FOOTER */

.project-footer {
    background-color: #F5F2F2;
    min-height: 20%;
}

.project-footer table {
    width: 100%;
}

.project-footer td {
    vertical-align: top;
}

.footer_info_cell {
    width: 30%;
    padding-right: 160px;
}

.footer-info {
    background-color: #333333;
    padding: 20px 30px;
    position: relative;
    top: -50px;
    width: 280px;
}

.footer-info h4 {
    color: white;
    font-size: 24px;
    margin: 0;
    margin-bottom: 5px;
}

.footer-info p,
.footer-info p a
.footer-info p a:active,
.footer-info p a:visited,
.footer-info p a:hover {
    color: #929291;
    font-size: 24px;
    margin: 0;
    margin-bottom: 30px;
}

.footer-info span {
    font-family: MyriadPro-Cond_3;
    font-size: 18px;
    color: white;
}

.footer_mail_cell {
    width: 70%;
}

.email-form h1 {
    color: #3C3C3B;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 70px;
    margin-left: 250px;
}

.email-form label {
    color: #3C3B3A;
    display: block;
    font-size: 24px;
}

.email-form.footer-form p {
    margin-top: 80px;
}

.email-form input[type="text"],
.email-form textarea {
    background: none;
    border: none;
    border-bottom: 1px solid #E2DFDF;
    display: block;
    font-family: MyriadPro-Cond_3;
    font-size: 24px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 30px;
    -webkit-appearance:none;
    box-shadow: none !important;
    outline: none;
}

.email-form input[type="submit"] {
    background: none;
    border: none;
    border-bottom: 1px solid #C9C7C7;
    color: #3C3C3B;
    font-family: MyriadPro-Cond_3;
    font-size: 30px;
    font-weight: bold;

    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    -ms-transition: color 0.4s;
    -o-transition: color 0.4s;
    transition: color 0.4s;
}

.email-form input[type="submit"]:hover {
    color: #FF6900;
    cursor: pointer;
}


/* NEW INDEX */

a,
a:hover,
a:visited,
a:active {
    color: #3c3c3b;
    text-decoration: none;
}

.title-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.title-project-dsc {
    position: absolute;
    left: 0;
    top: 0;
}

/* navigation */

.title-navigation {
    text-align: center;
    font-size: 24px;
    vertical-align: top;
    padding-top: 35px;
}

.title-navigation ul {
    padding: 0;
    display: inline;
}

.title-navigation li {
    display: inline;
}

.title-navigation li:not(:last-child):after {
    content: " // ";
    color: #3c3c3b;
}

.title-menu a {
    position: relative;
}

.title-menu a:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #3C3C3B;
    left: 0;
    top: 50%;

    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    -ms-transition: width 0.5s;
    -o-transition: width 0.5s;
    transition: width 0.5s;
}

.title-menu a.active:before {
    width: 100%;
}

.btn-menu {
    margin-left: 40px;
    cursor: pointer;
}

.title-project-dsc {
    width: 770px;
    height: 100%;
    left: 120px;
}

.title-content {
    height: 100%;
    vertical-align: bottom;
    padding-bottom: 5em;
    padding-left: 100px;
}

/* INDEX PAGE: TitleColoredTable */

.color-table-fg,
.table-bg-color {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.color-table-fg {  z-index: 2; }
.table-bg-color {  z-index: 1; }
.title-project-dsc table {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

/* movie title */

.bracket-text-box {
    display: inline-block;
}

.in-bracket-text {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
}

.title-page-name {
    position: relative;
    top: -100px;
    left: -100px;
    color: #3c3c3b;
    font-weight: bold;
    font-size: 21.9pt;
}

.img-next-arrow {
    cursor: pointer;
    vertical-align: middle;
    margin-left: 10px;
}

.title-header {
    position: absolute;
    left: 360px;
    bottom: 50%;
    z-index: 10;
}

.title-play-button {
    bottom: -15px;
    cursor: pointer;
    margin-left: 20px;
    position: relative;
    left: 10px;
}

.movie-title,
.movie-genre {
    font-family: pt-zerif_4;
}

.movie-title {font-size: 100px;}

.movie-genre {font-size: 50px;}

.movie-title:after {
    content: " ";
}

.movie-short-description {
    font-size: 18px;
    width: 50%;
    color: #3c3c3b;
    cursor: pointer;
}

/* footer */
.title-footer {
    font-size: 16px;
    color: #3c3c3b;
    text-align: center;
    vertical-align: bottom;
    padding-bottom: 35px;
}

/* images */
.background-image {
    height: 100%;
    width: auto;
    position: absolute;
}

@-webkit-keyframes scroll-message-animation {
    0%, 100% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(0.8, 0.8);
    }
}
@-moz-keyframes scroll-message-animation {
    0%, 100% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(0.8, 0.8);
    }
}
@-o-keyframes scroll-message-animation {
    0%, 100% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(0.8, 0.8);
    }
}
@keyframes scroll-message-animation {
    0%, 100% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(0.8, 0.8);
    }
}

.scroll-message {
    position: absolute;
    bottom: 25%;
    right: 250px;
    font-size: 18px;
    letter-spacing: 2px;

    z-index: 100;

    -webkit-animation: scroll-message-animation 2s infinite;
    -o-animation: scroll-message-animation 2s infinite;
    animation: scroll-message-animation 2s infinite;

    -webkit-animation-timing-function: cubic-bezier(.56,.01,.44,.93);
    -moz-animation-timing-function: cubic-bezier(.56,.01,.44,.93);
    -o-animation-timing-function: cubic-bezier(.56,.01,.44,.93);
    animation-timing-function: cubic-bezier(.56,.01,.44,.93);
}


.scroll-message img {
    vertical-align: middle;
    margin-right: 10px;
}

/* ImageRotator */

.image-rotator {
    position: absolute;
    width: 100%;
    height: 100%;
    white-space: nowrap;
}
/*
.img-back {
    right: 80%;
    left: auto;
}

.img-front {
    left: 870px;
    right: auto;
}

.img-next {
    left: 100%;
    right: auto;
}

.img-last {
    right: 180%;
    left: auto;
}*/

/* CONTACT PAGE */

.contact-title {
    margin-left: 350px;
}

.contact-info {
    position: absolute;
    left: 90%;
    top: 300px;
    width: 100%;
    font-size: 24px;
}

.contact-info p {
    margin-bottom: 10px;
    margin-top: 10px;
}

.title-bg-image {

}

.contact-bg-image {
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.contact-form {
    margin-bottom: -30px;
    padding-right: 100px;
}

.contact-form h1 {
    font-weight: normal;
    font-family: MyriadPro-BoldCond_1;
}

.contact-bg-image {
    background-image: url("../img/bg/bg-contact.jpg");
}

.contact-form.email-form input[type="text"],
.contact-form.email-form textarea {
    border-color: #C1C3C0;
}

.contact-form p {
    display: none;
}

/* ABOUT PAGE */

.about-page .title-header {
    cursor: default;
}

.about-page h2 {
    color: #3C3C3B;
    font-family: MyriadPro-BoldCond_1;
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 40px;
}

.about-page p,
.impressum-page p {
    color: #3C3C3B;
    font-family: MyriadPro-Cond_3;
    font-size: 24px;
    padding-right: 100px;
}

/* WORKS PAGE */

.works-page .title-header {
    top: 17%;
}

.movie-works-table {
    width: 100%;
}

.movie_cell {
    position: relative;
    border: 12px solid rgba(0,0,0,0);
    cursor: pointer;
}

.movie_image {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: right 0px;
    display: table;
    border-collapse: collapse;
}

.movie_cell {
    /*display: table;*/
}

.movie_image span {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}

/*.movie_cell:hover span {
    display: table-cell;
}*/

.movie_cell h2,
.movie_cell h3 {
    padding: 0;
    display: inline-block;
    pointer-events: none;
    margin: 0;
    font-family: pt-zerif_4;
    font-weight: normal;
}

.movie_cell h2 {
    font-size: 22px;
}

.movie_cell h3 {
    font-size: 18px;
    letter-spacing: 3px;
}
/*

.movie_cell br {
    font-size: 1px;
}*/


/* SiteMap */

.site-map {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(197,204,255,0.74);
    z-index: 9999;
    width: 100%;
    height: 100%;
    padding-left: 350px;
    padding-top: 130px;
}

.site-map ul {
    padding: 0;
}

.site-map li,
.lang-menu {
    list-style-type: none;
    font-family: MyriadPro-BoldCond_1;
    font-weight: 100;
    font-size: 60px;
}

.site-map a {
    color: white;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

.site-map .active a {
    color: black;
}

.site-map li a {
    position: relative;
}

.site-map li a:after {
    content: " ";
    margin-left: 10px;
    background-image: url('../img/button-arrow-next-long.png');
    display: inline-block;
    width: 69px;
    height: 6px;
    position: absolute;
    top: 45%;

    opacity: 0;
    -webkit-transform: scaleX(0.5);
    -moz-transform: scaleX(0.5);
    -ms-transform: scaleX(0.5);
    -o-transform: scaleX(0.5);
    transform: scaleX(0.5);

    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    -moz-transition: opacity 0.5s, -moz-transform 0.5s;
    -ms-transition: opacity 0.5s, -ms-transform 0.5s;
    -o-transition: opacity 0.5s, -o-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
}

.site-map li a:hover:after {
    opacity: 1;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

.site-map a:hover {
    color: #3C3C3B;
}

.site-map li a.small {
    font-size: 30px;
}

.close-btn-container {
    position: absolute;
    top: 38px;
}

.close-btn {
    cursor: pointer;
}


.site-map .description {
    position: absolute;
    bottom: 200px;
    left: 300px;
    width: 400px;
    font-size: 28px;
}

.site-map .description p {
    text-align: center;
    padding: 0;
    margin: 0;
}

/* IMPRESSUM */

.impressum-page .ingo-info {
    line-height: 150%;
}

.impressum-page .ingo-description {
    font-size: 18px;
}

strong {
    font-family: MyriadPro-BoldCond_1;
    font-weight: 100;
}
