html, body, main, #App {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

main {
    overflow-x: hidden;
    position: relative;
}

a, a:hover, a:focus, a:visited, a:active {
    text-decoration: none;
    color: black;
}

.content {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
}

.animated-content,
.animated-content > .content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

/* INDEX PAGE */

.index-navigation {
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.index-navigation ul {
    text-align: center;
    margin-top: 5%;
    margin-left: 0;
    padding-left: 0;
}

.index-navigation li {
    display: inline-block;
    font-size: 2.5em;
    width: 20%;
    text-align: left;
    margin-left: 10px;
    position: relative;
}

.index-navigation a {
    position: relative;
    line-height: 1em;
}

.curtain {
    overflow: hidden;
    width: 100%;
    height: 0;
}

.underline {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    height: 5px;
    width: 0;
    background-color: black;
}

.animated-bar {
    height: 70%;
    width: 0;
    background: black;
}

.video-container,
.index-logo-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-container {
    background-color: black;
    opacity: 0;
}

.index-logo {
    background: url(../img/logo.png);
    display: inline-block;
    width: 876px;
    height: 186px;
    opacity: 0;
}

.video-container video {
    height: 100%;
    margin: 0 auto;
}

.index-loading-message {
    position: absolute;
    left: 10%;
    bottom: 20%;
    overflow: hidden;
    width: 0%;
}

.index-loading-message h1 {
    color: white;
    width: 100%;
    word-wrap: normal;
    width: 20em;
}


/* MOVIE PROJECT PAGE */

* {
    font-family: HelveticaLTStd-Cond;
}

@font-face {
    font-family: HelveticaLTStd-Cond;
    src: url(../fonts/HelveticaLTStd-Cond.otf);
}

head, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.movie-curtain {
    width: 0;
    height: 70%;
    position: absolute;
    top: 0;
    background-color: white;
}

/* PROJECT section: header */

.project-title {
    width: 100%;
    height: 100%;
}

.project-main-image {
    background: url(../img/movies/InsuPad-6.png);
    height: 70%;
    background-size: cover;
    position: relative;
}

.default-side-padding {
    padding: 0 9%;
}

#IndexPage {
    overflow: hidden;
}

.movie-title-section {
    display: flex;
    -ms-align-items: center;
    align-items: center;
    height: 30%;
    position: relative;
}

.project-title h1 {
    font-size: 36pt;
    margin: 0;
    font-weight: normal;
    border-bottom: solid;
    white-space: nowrap;
    overflow: hidden;
}

.project-title .project-year {
    font-size: 0.7em;
}

a.arrow {
    text-decoration: none;
    font-size: 2em;
}

a.arrow,
a.arrow:hover,
a.arrow:visited,
a.arrow:link {
    color: black;
}

a.arrow:hover {
    color: gray;
}

.movies-nav {
    margin-left: auto;
}

/* PROJECT section: small description */
.project-sm-dsc {
    width: 100%;
    height: 100%;
    background: url(../img/movies/bg-black_white.png);
    background-repeat: repeat-x;
    background-size: cover;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    background-size: 100% 100%;
}

.project-stats {
    margin-top: 30px;
    font-size: 1.5em;
}

.project-stats th {
    font-weight: normal;
    padding-bottom: 10px;
}

.project-demo-video {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project-demo-video iframe {
    width: 100%;
}

.btn-mehr-container {
    margin-top: 10%;
}

.btn-mehr {
    background-color: #080808;
    color: white;
    padding: 5px;margin-top: 50px;
    border: solid 3px gray;
}

/* */

.project-dsc {
    background-color: #cbfdcb;
    padding-top: 3%;
    padding-bottom: 3%;
}

.description-container {
    font-size: 1.5em;
    display: table;
    min-height: 50%;
    border-bottom: solid 1px #0f733e;
    border-top: solid 1px #0f733e;
    padding-top: 3%;
}

/* more info */
.info-block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.info-text {
    width: 30%;
    font-size: 1.5em;
}

.info-img,
.info-img img {
    width: 100%;
}

/* FOOTER */

.project-footer {
    background-color: #051e2a;
    min-height: 20%;
}