html, body, #App {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.react-page {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.animated-content {
    display: flex;
    align-items: center;
    position: relative;
}

.animated-bar {
    height: 70%;
    background: black;
}

.video-container,
.index-logo-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-container {
    background-color: black;
    opacity: 0;
}

.index-logo {
    background: url(../img/logo.png);
    display: inline-block;
    width: 876px;
    height: 186px;
    opacity: 0;
}

.video-container video {
    height: 100%;
    margin: 0 auto;
}

.index-loading-message {
    position: absolute;
    left: 10%;
    bottom: 20%;
    overflow: hidden;
    width: 0%;
}

.index-loading-message h1 {
    color: white;
    width: 100%;
    word-wrap: normal;
    width: 20em;
}