<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %} This is title {% endblock %}</title>
    {% block styles %}
        <link rel="stylesheet" href="{{ app.asset_path }}/css/style.css?date={{"now"|date("m/d/Y/h:m:s")}}">
    {% endblock %}
</head>
<body>

{% block main %}
    <h1>This is a base twig</h1>
{% endblock %}

{% block scripts %}

{% endblock %}

</body>
</html>