<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Ingo Scheel Kameramann Köln {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
        <link rel="stylesheet" href="{{ app.asset_path }}/css/style.css?date={{"now"|date("m/d/Y/h:m:s")}}">
        <link rel="stylesheet" href="{{ app.asset_path }}/css/media.css">
          <link rel="image_src" href="http://www.ingoscheel.com/web//img/bg/bg-about.jpg">
    {% endblock %}
</head>
<body>

{% block main %}
    <h1>This is a base twig</h1>
{% endblock %}

{% block scripts %}

{% endblock %}

</body>
</html>