{% extends 'base.twig' %}

{% block main %}

    <div id="App"></div>

{% endblock %}

{% block scripts %}
    <script src="{{ app.asset_path }}/js/bundle.js"></script>
    <script type="text/javascript" src="http://livejs.com/live.js"></script>
{% endblock %}